
.blur{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: white;
    opacity: 0.5;

    z-index: 1;
    overflow: hidden;
}

.login_page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    width: 900px;
}
.login_form{
    width: 100%;
}
.login_title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    color: #555555;
}
.login_box{
    margin:auto;
    margin-top: 30px;
    padding-bottom: 10px;
    width: 60%;
    color: #555555;
}
.login_box .login_name{
    text-align: left;
    font-size: 20px;
    color: #555555;
}
.radioGroup{
    color: '#e8e8e8';
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 20px;
    margin-top: 20px;
    padding-right: 20px;
    font-size: 18px;
}
.radioGroup input{
    position:inherit;

    vertical-align: middle;
    appearance: none;

    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.2s ease-in-out;

    font-size: 10px;
    height: 30px;
    width: 30px;
}
.radioGroup input:checked{
    border: 0.4em solid #12B560;
}
.radioGroup input:focus-visible{
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #12B560;
}
.radioGroup input:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}
.radioGroup label{
    cursor: pointer;
}
.login_form input{
    position:relative;
    left: 0px;
    top: 20px;
    height: 70px;
    width: 100%;

    border-radius: 15px;
    font-size: 25px;
}
.signupButton{
    margin-top: 20px;
    margin-bottom: 30px;
}
.signupButton .signup_button{
    border:none;
    font-size: 20px;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
    position: relative;
    left : 42%;
    color:#555555;

}
.signupButton .signup_button:hover{
    color:darkgreen;
    cursor:pointer;

}
.login_button{

    height: 80px;
    width: 70%;
    text-align: center;

    padding-top: 15px;
    font-size: 30px;
    background-color: white;
    border-color: 2px black;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}
.login_button:hover{
    cursor: pointer;
    background-color: #12B560;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}
.empty{
    height: 140px;
}

.signupClose{
    position: absolute;
    top:6%;
    left: 82.2%;
    font-size: 30px;
    z-index: 3;
    color: brown;
}
.signupClose:hover{
    cursor: pointer;
}





.signup{
    width: 800px;
    position: absolute;
    margin-top: 00px;
    margin-left:50%;
    padding-top: 35px;
    left: -285px;
    z-index: 2;
    border : 2px solid #fffafa;
    border-radius: 20px;
    background-color: antiquewhite;
}

.signup .title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
}
.signup .nav{
    display: flex;
}
.signup .box{
    margin-bottom: 5px;
    margin-left: 100px;
    padding-bottom: 20px;
    width: 600px;
    height: 100px;
    border: none;
    border-radius: 20px;
}
.signup .sidBox{
    display: flex;
    justify-content: space-between;
}
.signup .box.sid .sidBox div{
    margin-top: 12px;
    padding-top : 15px;
    height: 40px;
    width:120px;
    border-radius: 7px;
    color: white;
    background-color: #666666;
}
.signup .box.nickname .sidBox div{
    margin-top: 12px;
    padding-top : 15px;
    height: 40px;
    width:120px;
    border-radius: 7px;
    color: white;
    background-color: #666666;
}
.signup .box .name{
    text-align: left;
    font-size: 20px;
    color: #555555;
}
.signup .box.last{
  margin-bottom: 20px;
}
.signup .box input{
    position:relative;
    left: 0px;
    top: 10px;
    height: 50px;
    width: 600px;
    border: 2px solid #767676;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 12px;
}
.signup .loginButton{

    height: 80px;
    width: 600px;
    text-align: center;
    color: black;
    padding-top: 15px;
    font-size: 30px;
    background-color: white;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 50px;

}
.signup .loginButton:hover{
    cursor: pointer;
    background-color: #12B560;
    color:white;
}
.signup .button{
    cursor: pointer;
}