/* .underline:hover{
    text-decoration: underline;
    cursor: pointer;
}

<<<<<<< HEAD
  section.BbListSection {
    margin: 20px auto 0;
    padding: 10px;
=======
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

  .BbListSection {
    margin: 20px ;
    padding-top: 60px;
    color: #73685d;

>>>>>>> 7da57075ddca25c83c32bc29b73c1fa4b07d28f7
  }

  table.BbListSearch {
    font-size: 20px;
    width: 100%;
<<<<<<< HEAD
    border-collapse: collapse;
=======
    color: #73685d;
>>>>>>> 7da57075ddca25c83c32bc29b73c1fa4b07d28f7
    overflow: hidden;
  }
    
  td.BbListSearch, th.BbListSearch {
    padding: 1em .5em;
    vertical-align: middle;
    color: #73685d;
  }
    
  td.BbListSearch {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    color: #73685d;
  }

  select.BbListSearch {
    width: 100%;
    height: 50px;
    color: #73685d;


    background: #F3F3F3;
    
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
  }

  td.BbListSearch input[type="text"] {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: -40px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
  }

  button.BbList {
    background-color: #12B560;
    color: #ffffff;

    width: 100%;
    height: 40px;
    margin: 0;

<<<<<<< HEAD
    font-size: .9em;
=======
    font-size: 15px;
>>>>>>> 7da57075ddca25c83c32bc29b73c1fa4b07d28f7
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 5px;

    width: auto;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    transition: 0.5s;
  }



  table.BbList {
    border: 1px #a39485 solid;
<<<<<<< HEAD
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 1000px;
=======

    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 800px;
    margin-top: 23px;
>>>>>>> 7da57075ddca25c83c32bc29b73c1fa4b07d28f7
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
  }
  
  th.BbList {
    text-align: left;
<<<<<<< HEAD
=======

>>>>>>> 7da57075ddca25c83c32bc29b73c1fa4b07d28f7
  }
    
  thead.BbList {
    font-weight: bold;
    color: #fff;
    background:#dadce0;
    text-align: center;
    font-size: 16px;
  }
    
  td.BbList, th.BbList {
    padding: 1em .5em;
    vertical-align: middle;
  }
    
  td.BbList {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }
  
  a.BbList {
    color: #73685d;
  } */
    
   /* @media all and (max-width: 768px) {
      
    table.BbList, thead.BbList, tbody.BbList, th.BbList, td.BbList, tr.BbList {
      display: block;
    }
    
    th.BbList {
      text-align: right;
    }
    
    table.BbList {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    thead.BbList {
      float: left;
      white-space: nowrap;
    }
    
    tbody.BbList {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }
    
    tr.BbList {
      display: inline-block;
      vertical-align: top;
      margin-top: 30px;
    }
    
    th.BbList {
      border-bottom: 1px solid #a39485;
    }
    
    td.BbList {
      border-bottom: 1px solid #e5e5e5;
    }
    
    
    }
   */