.bbswrapper {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 0;
    padding: 10px;
}

.bbswrapper .form_container {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 0;
    padding: 10px;
    background: #fff;
    padding: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.input_container {
    max-width: 900px;
    width: 95%;
}

.bbsWrite {
    display: block;

    box-sizing: border-box;
    width: 100%;

    margin: 20px auto 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}