.detailPage{
  width: 100%;
  padding-top: 90px;
  margin: 30px; 
}

.delete-detail{
  background-color: brown;
  color: white;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.change-detail{
  background-color: #12B560;
  color: white;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin-left: 20px;
  margin-bottom: 20px;
}






.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: auto;
}

ul.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color:darkgreen;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: darkgreen;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: darkgreen;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: darkgreen;
}