.chat-wrapper{
    position: absolute;
    top:0px;
    right: 180px;
    margin-top: 70px;
    margin-left: 70px;
    padding-left: 20px;
    border: none;
    border-radius: 15px;
    width: 800px;
    height: 800px;
    display: flex; 
    text-align: left; 
    background-color: oldlace;
    color: #666666;
    z-index: 1000;
}

.chat-container {
    display: flex;
    margin: 3px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;    
    font-weight:lighter;

  }
  
  .chat-list {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  .chat-list-title{
    font-size: 30px;
  }
  .list-container{
    display: flex;
    flex-direction: row;
  }
  .list-name{
    display: flex;
    flex-direction: column;
    background-color: oldlace;
    border: none;
  }
  .list-alarm{
    display: flex;
    flex-direction: column;

  }
  .chat-room {
    align-content: space-between;
    margin-left: 40px;
    width: 500px;
  }
  
  .chat-room hr {
    margin: 10px 0;
  }
  .message_area{
    height: 600px;
    background-color: white;
    overflow: scroll;
    border-radius: 20px;
    border-color: white;
  }
  .message-container {
    border: 1px solid;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    padding-bottom: 20px;
    margin-left: 15px;
  }



  .message-container > div {
    margin-bottom: 5px;
    color: #555555;
    
  }
  
  .message-form {
    margin: 20px 0;
  }
  
  .message-form input[type="text"] {
    margin-right: 10px;
    width: 300px;
    height: 50px;
    border: #666666 2px;
    border-radius: 15px;
  }
  
  