.chat-wrapper{
    position: absolute;
    top:0px;
    right: 180px;
    margin-top: 70px;
    margin-left: 70px;
    padding-left: 20px;
    border: none;
    border-radius: 15px;
    width: 800px;
    height: 800px;
    display: flex; 
    text-align: left; 
    background-color: oldlace;
    color: #666666;
    z-index: 1000;
}

.chat-container {
    display: flex;
    margin: 3px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;    
    font-weight:lighter;

  }
  
  .chat-list {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  .chat-list-title{
    font-size: 30px;
  }
  .list-container{
    display: flex;
    flex-direction: row;
  }
  .list-name{
    display: flex;
    flex-direction: column;
    background-color: oldlace;
    border: none;
  }
  .list-alarm{
    display: flex;
    flex-direction: column;
  }
  .chat-room {
    align-content: space-between;
    margin-left: 40px;
    width: 500px;
  }
  
  .chat-room hr {
    margin: 10px 0;
  }
  .message_area{
    height: 600px;
    background-color: white;
    overflow: scroll;
    border-radius: 20px;
    border-color: white;


  
  }
  .message-container {
    border: 1px solid;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 20px;
    border-color: white;
    padding-bottom: 0px;

  }



  .message-container > div {
    margin-bottom: 5px;
    color: #555555;
    
  }
  
  .message-form {
    margin: 20px 0;
  }
  
  .message-form input[type="text"] {
    margin-right: 10px;
    width: 300px;
    height: 50px;
    border: #666666 2px;
    border-radius: 15px;
  }

  .scrollable-container {
    height: 400px; /* 스크롤 가능한 컨테이너의 높이를 지정합니다 */
    overflow-y: scroll; /* 수직 스크롤바를 표시합니다 */
    position: relative; /* 내부 요소를 기준으로 절대 위치를 설정하기 위해 부모 컨테이너를 상대 위치로 설정합니다 */
  }
  
  .scrollable-container .fixed-bottom {
    position: absolute; /* 절대 위치로 설정합니다 */
    bottom: 0; /* 가장 아래에 위치하도록 설정합니다 */
    left: 0; /* 왼쪽에 정렬합니다 */
    width: 100%; /* 부모 컨테이너의 너비와 같도록 설정합니다 */
  }
   
  
  





  @media (max-width: 768px) {
    .chat-wrapper {
      position: absolute;
      left: -80px;
      top: 100px;
      padding-left: 20px;
      margin-left: 100px;
      width: 360px;
      height: 560px;

    }
  
    .chat-container {
      flex-direction: column;
      margin-left: 0;
      margin-top: 0;
      height: 600px;
      padding-left: -140px;
    }
  
    .chat-list {
      margin-right: 0;
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: bold;

    }

    .chat-list-title{
      padding-top: 10px;
      font-size: 25px;
    }
  
    .list-container {
      flex-direction: column;
    }


    .list-name{
      display: inline-block;
      flex-direction: column;
      background-color: oldlace;
      border: none;
      width: 100px;
    }
    .list-alarm{
      display: inline-block;
      flex-direction: column;
      width: 100px;
      margin-left: -45px;
    }


  
    .chat-room {
      margin-left: 0;
      margin-right: 15px;
      width: auto;
      padding-top: 30px;

    }
  
    .message_area {
      height: 245px;
      padding-right: 10px;

      
    }
  
    .message-container {
      margin-left: 0;
      margin-right: 0;
    }
  
    .message-form input[type="text"] {
      width: auto;
      flex-grow: 1;
      max-width: 250px;
    }


    
  }