.ParentMainPage {
  height: 150%;
  width: 100%;

  
}

.ParentMainPage .student_info {
  height: 80px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
}

.ParentMainPage .student_info .name {
  font-size: 40px;
  height: 50px;
  margin-top: -70px;
  margin-left: 80px;
}

.ParentMainPage .student_info .name-side {
  margin-left: 30px;
  font-size: 30px;
  height: 50px;
}

.ParentMainPage .student_info_box {
  height: 180px;
  width: 100%;
  text-align: left;
  background-color: cornsilk;
  margin: auto;
  border-radius: 30px;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 20px;
}

.ParentMainPage .student_state_info {
  width: 100%;
  text-align: left;
  background-color: cornsilk;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: white;
}

.ParentMainPage .student_state_info_box {
  height: 100px;
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: #EBECF0;
  color: #555555;
  border-radius: 30px;
  margin-top: 10px;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 13px;
}

.ParentMainPage .student_state_info_box.checked {
  background-color: #0f9443;
  color: white;
}



@media (max-width: 600px) {
  .ParentMainPage .student_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ParentMainPage .student_info_box,
  .ParentMainPage .student_state_info_box {
    width: 90%;
  }

  .ParentMainPage .student_state_info_box {
    font-size: 25px;
  }
}

.couple-image {
  margin-left: -280px;
  width: 80px;
  height: 80px;
}