
.sidebar-container {
    border-radius: 27px;
    padding: 15px;
    margin: 15px;
    background-color: #12B560;
    color: black;

  }

.sidebar-item {
    color: black;
}
  
.sidebar-content {
    padding-top: 2px;
}

.sidebar-line{
    width: 170px;
    height: 1px;
    background-color: #EBECF0;
    margin-left: 15px;
    margin-bottom: 30px;
}

.bottom-button {
    background-color: #f9f9f7;
    color: darkgray;
    padding-left: 15px;
    padding-right: 15px;
}