/* TeacherDetail.css */

.Tcontainer {
  background-color: white;
  padding: 25px;
  width: 1200px;
  margin-top: 70px;
  margin-left: 25px;
  border-radius: 20px;
  border-color: white;
  }

.Tp-3 {
  width: 800px;
}

  .Tmb-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    color: #7d7d7d;
    padding-left: 180px;
    width: 800px;
    border-color: white;
  }
  
  .Tmb-5 {
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 40px;
    border-color: white;
  }

  .Tmb-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 15px;
    border-color: white;
    text-align: center;
  }
  
  .Trow {
    width: 100%;
    text-align: center;
  }
  
  .Ttable {
    width: 1200px;
  }
  
  .Ttable th {
    background-color: white;
    color: #12B560;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 0px;
    border-color: white;

  }
  
  .Tsm-4 {
    width: 1200px;
    height: 80%;
    text-align: center;;
    margin-left: 10px; 
    margin-top: 50px;
    border-color: white;
    
  }
  
  .Tbox {
    background-color: #f2f2f2;
    border-color: white;
    border-radius: 20px;
    height: 800px;
    width: 1000px;
    padding: 15px;
    margin-left: 100px; 
  }
  

  .Tbtn-primary {
    background-color: #12B560;
    border: white;
    border-radius: 15px;
    width: 800px;
    height: 60px;
    font-size: 30px;
    margin-top: 50px;
    color: #555555;
  }
  
  .Tbtn-primary:hover {
    background-color: #0f9443;
    border: none;
    border-radius: 15px;
    width: 800px;
    height: 60px;
    font-size: 30px;
    margin-top: 50px;
    color: white
  }
  
  .Tbtn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(18, 181, 96, 0.5);
  }
  
