.studentList .student{
    background-color: #0f9443;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 15px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color : white;
    cursor: pointer;
    transition: 0.5s;
}
.studentList .student.checked{
    background-color: #12B560;
}