button.delete {
    font-family: Eorinai;
    background-color: #0f9443;
    color: white;
    border-radius: 10px;
    
    margin: 0;
    padding: 0.5rem 1rem;
    
    font-size: .9em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
    border: none;
    
    display: inline-block;
    width: auto;
    
    cursor: pointer;
    
    transition: 0.5s;
  }

/* body {
    padding:1.5em;
  } */
  
  section.tableSection {
    font-family: Eorinai;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 20px;
  }

  .tab-buttons {
    display: flex;

  }

  .tab-button {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    background-color: #12B560;
    color: #fff;
    border: none;
    width: 130px;
    height: 60px;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .tab-button.active {
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #0f9443;
    color: white;
  }
  
  .tab-button:active {
    background-color: #0f9443;
    color: white;
    cursor: pointer;
  }
  

  .form_container {
    width: 500px;

  }

  .form_item{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form_wrap full{
    padding: 10px;
  }

  table.admin {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
  }
  
  th.admin {
    text-align: center;
    color: #73685d;
    font-size: 18px;
  }
    
  thead.admin {
    background-color: white;
    color: #12B560;
    font-size: 30px;
    margin-top: 30px;
    border-color: white;
  }
    
  td.admin, th.admin {
    padding: 1em .5em;
    vertical-align: middle;   
    text-align: center;
  }
    
  td.admin {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }
  
  a.admin {
    color: #73685d;
  }
    











   @media all and (max-width: 768px) {
      
    table.admin, thead.admin, tbody.admin, th.admin, td.admin, tr.admin {
      display: block;
    }
    
    th.admin {
      text-align: right;
    }
    
    table.admin {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    thead.admin {
      float: left;
      white-space: nowrap;
    }
    
    tbody.admin {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }
    
    tr.admin {
      display: inline-block;
      vertical-align: top;
    }
    
    th.admin {
      border-bottom: 1px solid #a39485;
    }
    
    td.admin {
      border-bottom: 1px solid #e5e5e5;
    }
    
   }